<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>SHOEzzo</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="imgs/theme/favicon.svg" />
  <!-- Template CSS -->
  <link href="css/main.css?v=1.1" rel="stylesheet" type="text/css" />
</head>

<body>
  <style>
    .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.3rem 1.3rem;
      margin-top: -71px;
    }
  </style>

  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a class="navbar-brand" href="/">SHOEzzo</a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/admin/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/admin/users">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Users</span>
          </a>
        </li>

        <li class="menu-item ">
          <a class="menu-link" href="/admin/category">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">Catgeory</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/admin/products">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item active">
          <a class="menu-link" href="/admin/order">
            <i class="icon material-icons md-shopping_cart"></i>
            <span class="text">orders</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/admin/coupon">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
      </ul>
      <br />
      <br />
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">

      </div>
      <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
          <i class="material-icons md-apps"></i>
        </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <i class="material-icons md-notifications animation-shake"></i>
              <span class="badge rounded-pill">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
          </li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i
                class="material-icons md-public"></i></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
              <a class="dropdown-item text-brand" href="#"><img src="imgs/theme/flag-us.png" alt="English" />English</a>
            </div>
          </li>
          <li class="dropdown nav-item">
            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
              <img class="img-xs rounded-circle" src="imgs/people/avatar-2.png" alt="User" /></a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">


              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/admin/logout">
                <i class="material-icons md-exit_to_app"></i>Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title"><B>USER ORDERS</B></h2>
          <p></p>
        </div>
      </div>
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="col-lg-12 stretch-card">
            <div class="card">
              <div class="card-body">
                </p>
                <div class="table-responsive">
                  <table class="table table-bordered table-contextual" id="example">
                    <thead>
                      <tr>
                        <th>Order ID</th>
                        <th>Product</th>
                        <th>Customer</th>
                        <th>Total Price</th>
                        <th>Order Date</th>
                        <th>Payment Method</th>
                        <th>Status</th>
                        <th></th>
                        <th>Items</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (Orders.length===0) { %>
                        <tr>
                          <td colspan="9">No orders found</td>
                        </tr>
                        <% } else { %>
                          <% Orders.reverse().forEach(order=> { %>
                            <% order.items.forEach(item=> { %>
                              <tr>
                                <td>
                                  <%= order.order_id %>
                                </td>
                                <td>
                                  <%= item.product_id ? item.product_id.name : 'Product Not Available' %>
                                </td>
                                <td>
                                  <%= order.username %>
                                </td>
                                <td>
                                  <%= order.total_amount %>
                                </td>
                                <td>
                                  <%= new Date(order.date).toLocaleDateString() %>
                                </td>
                                <td>
                                  <%= order.payment %>
                                </td>
                                <td>
                                  <div class="status-dropdown-container">
                                    <select style="text-align: center;" class="form-control status-dropdown"
                                      name="status" data-order-id="<%= order.order_id %>"
                                      data-product-id="<%= item.product_id ? item.product_id._id : '' %>"
                                      onchange="updateOrderStatus(event)">
                                      <% ['Placed', 'Delivered' , 'Requested return' , 'Returned' , 'Cancelled'
                                        , 'pending' ].forEach(status=> { %>
                                        <% if ((item.ordered_status==='Cancelled' || item.ordered_status==='Returned' )
                                          && status !==item.ordered_status) { %>
                                          <option value="<%= status %>" disabled>
                                            <%= status %>
                                          </option>
                                          <% } else { %>
                                            <option value="<%= status %>" <%=status===item.ordered_status ? 'selected'
                                              : '' %>><%= status %>
                                            </option>
                                            <% } %>
                                              <% }); %>
                                    </select>
                                  </div>
                                </td>
                                <td>
                                  <button id="save" class="btn-primary" onclick="reloadPage()">save</button>
                                </td>
                                <td>
                                  <a href="/admin/detail?orderId=<%= order.order_id %>">
                                    <button class="btn-primary">Detail</button>
                                  </a>
                                </td>
                              </tr>
                              <% }); %>
                                <% }); %>
                                  <% } %>
                        </tbody>


                    <div class="pagination-area mt-30 mb-50">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                          <% if (currentPage> 1) { %>
                            <li class="page-item"><a class="page-link" href="?page=1&search=<%= searchTerm %>">1</a>
                            </li>
                            <% } %>
                              <% for (let i=2; i <=totalPages; i++) { %>
                                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                  <a class="page-link" href="?page=<%= i %>&search=<%= searchTerm %>">
                                    <%= i %>
                                  </a>
                                </li>
                                <% } %>
                                  <% if (currentPage < totalPages) { %>
                                    <li class="page-item">
                                      <a class="page-link" href="?page=<%= totalPages %>&search=<%= searchTerm %>">
                                        <i class="material-icons md-chevron_right"></i>
                                      </a>
                                    </li>
                                    <% } %>
                        </ul>
                      </nav>
                    </div>


                    <footer class="main-footer font-xs">
                      <div class="row pb-30 pt-15">
                        <div class="col-sm-6">

                        </div>
                      </div>
                    </footer>
  </main>


  <script>
    function updateOrderStatus(event) {
      var selectElement = event.target;
      var selectedValue = selectElement.value;

      if (selectedValue === 'Returned' || selectedValue === 'Cancelled') {
        selectElement.disabled = true;
      }
    }
  </script>
  <script>
    function reloadPage() {
      window.location.reload()

    }
  </script>

  <script src="js/vendors/jquery-3.6.0.min.js"></script>
  <script src="js/vendors/bootstrap.bundle.min.js"></script>
  <script src="js/vendors/select2.min.js"></script>
  <script src="js/vendors/perfect-scrollbar.js"></script>
  <script src="js/vendors/jquery.fullscreen.min.js"></script>
  <!-- Main Script -->
  <script src="js/main.js?v=1.1" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js"
    integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

  <script>

  </script>
  <script>
    const deleteButtons = document.querySelectorAll(".deleteBtn");
    deleteButtons.forEach((button) => {
      button.addEventListener("click", function () {
        const categoryId = this.dataset.categoryId;

        console.log(categoryId);

        axios
          .post(`/admin/category/deleteCategory?id=${categoryId}`)
          .then((response) => {
            if (response.data.success) {
              location.reload();
            }
          })
          .catch((error) => {
            console.error(error);
          });
      });
    });
  </script>

  <script>

    const listOrUnlistButtons = document.querySelectorAll(".listBtn");

    listOrUnlistButtons.forEach((button) => {
      button.addEventListener("click", async function () {
        const categoryId = this.dataset.categoryId;

        try {
          const response = await axios.post(`/admin/category/listOrUnlist?id=${categoryId}`);
          const updatedCategoryData = response.data;
          if (updatedCategoryData.is_listed) {
            this.textContent = "Unlist";
            this.classList.remove("btn-success");
            this.classList.add("btn-danger");
          } else {
            this.textContent = "List";
            this.classList.remove("btn-danger");
            this.classList.add("btn-success");
          }
          const badge = this.closest("tr").querySelector(".badge");
          badge.textContent = updatedCategoryData.is_listed ? "Listed" : "Unlisted";
          badge.classList.remove(updatedCategoryData.is_listed ? "bg-danger" : "bg-success");
          badge.classList.add(updatedCategoryData.is_listed ? "bg-success" : "bg-danger");

        } catch (error) {
          console.log(error);
        }
      });
    });
  </script>



  <!-- script for order management -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    function updateOrderStatus(event) {
      var selectedStatus = event.target.value;
      var orderId = event.target.getAttribute("data-order-id");
      var productId = event.target.getAttribute("data-product-id");

      console.log(selectedStatus);
      console.log(orderId);
      console.log(productId);

      if (!productId) {
        console.error('Product ID is empty.');
        return;
      }

      $.ajax({
        url: "/admin/updateOrderStatus",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ orderId: orderId, status: selectedStatus, productId: productId }),
        success: function (data) {
          console.log(data);
        },
        error: function (jqXHR, textStatus, errorThrown) {
          console.error('There was a problem with the AJAX request:', errorThrown);
        }
      });
    }
  </script>




</body>

</html>