<!DOCTYPE html>

<%- include('../user/layout/nav') %>
  <html lang="en">

  <head>
    <title>SHOEzzo</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/user/css/open-iconic-bootstrap.min.css" />
    <link rel="stylesheet" href="/user/css/animate.css" />

    <link rel="stylesheet" href="/user/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/user/css/magnific-popup.css" />

    <link rel="stylesheet" href="/user/css/aos.css" />

    <link rel="stylesheet" href="/user/css/ionicons.min.css" />

    <link rel="stylesheet" href="/user/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/user/css/jquery.timepicker.css" />

    <link rel="stylesheet" href="/user/css/flaticon.css" />
    <link rel="stylesheet" href="/user/css/icomoon.css" />
    <link rel="stylesheet" href="/user/css/style.css" />

    <style>
      .total p {
        margin-bottom: 10;
      }
    </style>

  </head>

  <body class="goto-here">
    <div class="py-1 bg-black">
      <div class="container">
        <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
          <div class="col-lg-12 d-block">
            <div class="row d-flex">
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div class="icon mr-2 d-flex justify-content-center align-items-center">
                  <span class="icon-phone2"></span>
                </div>
                <span class="text">+ 1235 2355 98</span>
              </div>
              <div class="col-md pr-4 d-flex topper align-items-center">
                <div class="icon mr-2 d-flex justify-content-center align-items-center">
                  <span class="icon-paper-plane"></span>
                </div>
                <span class="text">youremail@email.com</span>
              </div>
              <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                <span class="text">3-5 Business days delivery &amp; Free Returns</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>


    <div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <p class="breadcrumbs"><span class="mr-2"><a href=""></a></span> <span></span></p>
            <h1 class="mb-0 bread" style="color: rgba(0, 0, 0, 0.744);">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-cart">
      <div class="container">
        <div class="row">
          <div class="col-md-12 ftco-animate">
            <div class="cart-list">

              <table class="table" id="reloadDiv">
                <thead class="thead-primary">
                  <tr class="text-center">
                    <th>Image</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% cartProducts.forEach(cartProduct=> { %>
                    <tr class="text-center">
                      <td class="image-prod">
                        <% if (cartProduct.product_id && cartProduct.product_id.image &&
                          cartProduct.product_id.image[0]) { %>
                          <img src="/images/<%= cartProduct.product_id.image[0] %>" alt="Product Image">
                          <% } else { %>
                            <!-- Add a placeholder image or an alternative content if there's no image -->
                            <!-- <img src="/public/images/placeholder-image.jpg" alt="Placeholder Image"> -->
                            <% } %>
                      </td>

                      <td class="product-name">
                        <h3>
                          <%= cartProduct.product_id?.name %>
                        </h3>
                        <p>
                          <%= cartProduct.product_id?.description %>
                        </p>
                      </td>

                      <td class="quantity">
                        <div class="input-group mb-3">
                          <span class="input-group-btn mr-2">
                            <button type="button" class="quantity-left-minus btn" data-type="minus"
                              data-productid="<%= cartProduct.product_id._id %>" data-itemId="<%= cartProducts._id %>">
                              <i class="ion-ios-remove"></i>
                            </button>
                          </span>
                          <input type="number" name="quantity" class="quantity form-control input-number" min="1"
                            max="100" value="<%= cartProduct.quantity%>" readonly />
                          <span class="input-group-btn ml-2">
                            <button type="button" class="quantity-right-plus btn" data-type="plus"
                              data-productid="<%= cartProduct.product_id._id %>" data-itemId="<%= cartProducts._id %>">
                              <i class="ion-ios-add"></i>
                            </button>
                          </span>
                        </div>
                      </td>

                      <td class="price" style="width: 100px;">
                        <p>
                          <%=cartProduct.price%>
                        </p>
                      </td>
                      <td class="total" style="width: 100px;">
                        <p>
                          <%=cartProduct.total_price%>
                        </p>
                      </td>

                      <td class="product-remove">
                        <a href="#">
                          <% if (cartProduct.product_id && cartProduct.product_id._id) { %>
                            <span class="remove-product" data-product-id="<%= cartProduct.product_id._id %>">❌</span>
                            <% } else { %>
                              <span class="remove-product" data-product-id="N/A">❌</span>
                              <% } %>
                        </a>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="row justify-content-start">
          <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
            <div class="cart-total mb-3">
              <h3>Cart Totals</h3>
              <p class="d-flex">
                <span>SUBTOTAL</span>
                <span id="subtotal">₹<%=totalPriceSum%></span>
              </p>
              <p class="d-flex">
                <span>SHIPPING COSTS</span>
                <span>₹0.00</span>
              </p>
              <hr>
              <p class="d-flex total-price">
                <span>ESTIMATED TOTAL</span>
                <span id="estimatedTotal">₹<%= totalPriceSum.toFixed(2) %></span>
              </p>
            </div>
            <p class="text-center"><a href="/checkout" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>
          </div>
        </div>
      </div>
    </section>


    <%- include('../user/layout/footer') %>

      <style>
        .image-prod img {
          height: 100px;
        }
      </style>

      <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
          <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
          <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
            stroke="#F96D00" />
        </svg></div>


      <script src="/user/js/jquery.min.js"></script>
      <script src="/user/js/jquery-migrate-3.0.1.min.js"></script>
      <script src="/user/js/popper.min.js"></script>
      <script src="/user/js/bootstrap.min.js"></script>
      <script src="/user/js/jquery.easing.1.3.js"></script>
      <script src="/user/js/jquery.waypoints.min.js"></script>
      <script src="/user/js/jquery.stellar.min.js"></script>
      <script src="/user/js/owl.carousel.min.js"></script>
      <script src="/user/js/jquery.magnific-popup.min.js"></script>
      <script src="/user/js/aos.js"></script>
      <script src="/user/js/jquery.animateNumber.min.js"></script>
      <script src="/user/js/bootstrap-datepicker.js"></script>
      <script src="/user/js/scrollax.min.js"></script>
      <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> -->
      <!-- <script src="/user/js/google-map.js"></script> -->
      <script src="/user/js/main.js"></script>


      <!-- DELETE PRODUCT -->
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const removeButtons = document.querySelectorAll(".remove-product");

          removeButtons.forEach((button) => {
            button.addEventListener("click", async function () {
              const productId = button.getAttribute("data-product-id");
              try {
                const response = await fetch("/cart/remove", {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify({ productId }),
                });

                console.log("Response:", response);

                if (response.ok) {
                  console.log("Product deleted successfully");
                  button.closest("tr").remove();
                  updateCartTotals();
                } else {
                  console.error("Failed to delete product");
                }
              } catch (error) {
                console.error("Error:", error);
              }
            });
          });
        });
      </script>

      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

      <!-- Quantity -->

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const quantityChangeButtons = document.querySelectorAll(".quantity-left-minus, .quantity-right-plus");

          quantityChangeButtons.forEach(function (button) {
            button.addEventListener("click", function () {
              const productId = this.getAttribute("data-productid");
              const itemId = this.getAttribute("data-itemId");
              const action = this.getAttribute("data-type");
              const quantityInput = this.closest(".quantity").querySelector(".quantity");
              const priceElement = this.closest("tr").querySelector(".price");
              const totalElement = this.closest("tr").querySelector(".total");

              let newQuantity = parseInt(quantityInput.value);

              if (action === "minus" && newQuantity > 1) {
                newQuantity--;
              } else if (action === "plus") {
                newQuantity++;
              }

              updateQuantity(productId, newQuantity, itemId, function (response) {
                if (response.success) {
                  quantityInput.value = newQuantity;
                  const price = parseFloat(priceElement.textContent);
                  const totalPrice = price * newQuantity;
                  totalElement.textContent = totalPrice

                } else {
                  Swal.fire({
                    icon: 'info',
                    title: 'Maximum Quantity Reached',
                    text: 'You have reached the maximum available quantity for this product.',
                  });
                }
              });
            });
          });

          function updateQuantity(productId, newQuantity, itemId, callback) {
            const data = {
              productId: productId,
              quantity: newQuantity,
              itemId: itemId
            };

            fetch('/increaseQuantity', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
              },
              body: JSON.stringify(data),
            })
              .then(response => {
                if (!response.ok) {
                  throw new Error('Network response was not ok');
                }

                return response.json();
              })
              .then(data => {
                callback(data);
                if (data.success) {
                }
              })
              .catch(error => {
                console.error('Error updating quantity:', error);

                Swal.fire({
                  icon: 'error',
                  title: '',
                  text: 'STOCK OUT.',
                });
              });
          }
        });
      </script>
  </body>

  </html>