<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minishop - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="/user/https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="/user/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/user/css/animate.css">
    
    <link rel="stylesheet" href="/user/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/css/magnific-popup.css">

    <link rel="stylesheet" href="/user/css/aos.css">

    <link rel="stylesheet" href="/user/css/ionicons.min.css">

    <link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/user/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/user/css/flaticon.css">
    <link rel="stylesheet" href="/user/css/icomoon.css">
    <link rel="stylesheet" href="/user/css/style.css">

	<style>
	  
		
	  
		/* Decrease the input field size */
		.modal-content .form-control {
		  width: 100%; /* Adjust the width as needed */
		}
		.form-control {
    height: 30px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 10px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	margin-bottom: 0rem;
}
	  </style>
  </head>
  <body class="goto-here">
		<div class="py-1 bg-black">
    	<div class="container">
    		<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
	    		<div class="col-lg-12 d-block">
		    		<div class="row d-flex">
		    			<div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
						    <span class="text">+ 1235 2355 98</span>
					    </div>
					    <div class="col-md pr-4 d-flex topper align-items-center">
					    	<div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
						    <span class="text">youremail@email.com</span>
					    </div>
					    <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
						    <span class="text">3-5 Business days delivery &amp; Free Returns</span>
					    </div>
				    </div>
			    </div>
		    </div>
		  </div>
    </div>



	
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="/">Minishop</a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
	          <li class="nav-item dropdown active">
            
            </li>
	          <li class="nav-item"><a href="/shop" class="nav-link">Shop</a></li>
	          <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
	
	          <li class="nav-item cta cta-colored"><a href="/cart" class="nav-link"><span class="icon-shopping_cart"></span></a></li>
	      </div>
	    </div>
	  </nav>




    <!-- END nav -->

    <div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_6.jpg');">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Checkout</span></p>
            <h1 class="mb-0 bread">Checkout</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10 ftco-animate">
			<title>Address Form</title>
			<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
			<style>
			  .billing-form {
				display: none;
			  }
			</style>
		  </head>
		  <body>
		  
			<title>Address Form</title>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


  <style>
    .billing-form {
      display: none;
    }


    .address-section {
      margin-bottom: 20px;
	
	  width: 50%;
    }
  </style>

<style>
	.address-card {
    border: 15px solid #ccc;
    padding: 20px;
    margin-bottom: 1px;
	margin-left: -54px;
}

.address-details {
    font-size: 14px;
}
</style>

<style>
	.header-title {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 20px; 
  
}
</style>

</head>
<body>
	<div class="address-section">
		<% Data.address.forEach((item) => { %>
			<div class="card fade-in address-card" id="address_<%= item._id %>">
				<label>
					<span>Select Address</span> <!-- Move the text inside a span element -->
					<input type="radio" name="selectedAddress" id="addressRadio " value="<%= item.name %> , <%= item.housename%>, <%=item.city%> , <%=item.state%> , <%=item.phone%> , <%=item.pincode%>">
				</label>
				<div class="address-details">
					<h4><%= item.name %></h4>
					<p>House Name: <%= item.housename %></p>
					<p>City: <%= item.city %></p>
					<p>State: <%= item.state %></p>
					<p>Phone: <%= item.phone %></p>
					<p>Pincode: <%= item.pincode %></p>
				</div>
			</div>
		<% }) %>
		<% if (Data.address.length === 0) { %>
			<div class="no-address">
				<p>No addresses found.</p>
			</div>
		<% } %>
	</div>
   
	  <button id="addAddressBtn">Add Address</button>
  </div>

  <form action="#" class="billing-form">
    
    <h3 class="mb-4 billing-heading">Billing Details</h3>
    <div class="row align-items-end">
     
      <div class="col-md-6">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
     
    </div>
  </form>
  <div class="col-md-6 d-flex">
    <div class="cart-total mb-3">
        <h3>Cart Totals</h3>
        <p class="d-flex">
            <span>SUBTOTAL</span>
            <span id="subtotal">₹<%= totalPrice %></span>
        </p>
        <p class="d-flex">
            <span>SHIPPING COSTS</span>
            <span>₹0.00</span> 
        </p>
        <hr>
        <p class="d-flex total-price">
            <span>ESTIMATED TOTAL</span>
            <span id="estimatedTotal">₹<%= totalPrice %></span>
        </p>
    </div>
</div>
         
	<div class="col-md-6">
		<div class="cart-detail bg-light p-3 p-md-4">
				<h3 class="billing-heading mb-4">Payment Method</h3>
					<div class="form-group">
							<div class="col-md-12">
								<div class="radio">
									<label><input type="radio" name="optradio" value="COD" class="mr-2">Cash on Delivery</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="radio">
									<label><input type="radio" name="optradio" value="RazorPay" class="mr-2">Razorpay</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12">
								<div class="radio">
									<label><input type="radio" name="optradio" value="Wallet" class="mr-2"> Wallet</label>
								</div>
							</div>
						</div>
						
						<p><a href="#" class="btn btn-primary py-3 px-4"  id="placeOrderBtn">Place an order</a></p>
				      	</div>				
	          	</div>
	          </div>
          </div>
        </div>
      </div>
    </section>
		

    <footer class="ftco-footer ftco-section">
      <div class="container">
      	<div class="row">
      		<div class="mouse">
						<a href="#" class="mouse-icon">
							<div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
						</a>
					</div>
      	</div>
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Minishop</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Menu</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Shop</a></li>
                <li><a href="#" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Journal</a></li>
                <li><a href="#" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Help</h2>
              <div class="d-flex">
	              <ul class="list-unstyled mr-l-5 pr-l-3 mr-4">
	                <li><a href="#" class="py-2 d-block">Shipping Information</a></li>
	                <li><a href="#" class="py-2 d-block">Returns &amp; Exchange</a></li>
	                <li><a href="#" class="py-2 d-block">Terms &amp; Conditions</a></li>
	                <li><a href="#" class="py-2 d-block">Privacy Policy</a></li>
	              </ul>
	              <ul class="list-unstyled">
	                <li><a href="#" class="py-2 d-block">FAQs</a></li>
	                <li><a href="#" class="py-2 d-block">Contact</a></li>
	              </ul>
	            </div>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center"> 
			    <p>
					copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                   	 </p>
                         </div>
                              </div>
                                 </div>
                                    </footer>
    
  
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


 <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="addAddressModalLabel"></h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form id="addressForm">
			<div class="form-group">
			  <label for="name">Name:</label>
			  <input type="text" class="form-control" id="name" name="name" required>
			</div>
			<div class="form-group">
			  <label for="housename">House Name:</label>
			  <input type="text" class="form-control" id="housename" name="housename" required>
			</div>
			<div class="form-group">
			  <label for="city">City</label>
			  <input type="text" class="form-control" id="city" name="city" required>
			</div>
			<div class="form-group">
			  <label for="state">State</label>
			  <input type="text" class="form-control" id="state" name="state" required>
			</div>
			<div class="form-group">
			  <label for="phone">Phone</label>
			  <input type="text" class="form-control" id="phone" name="phone" required>
			</div>
			<div class="form-group">
			  <label for="pincode">Pincode</label>
			  <input type="text" class="form-control" id="pincode" name="pincode" required>
			</div>
      <button id="addAddressBtn">Sumbit</button>
		</div>
	  </div>
	</div>
</div>

  

  <script src="/user/js/jquery.min.js"></script>
  <script src="/user/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="/user/js/popper.min.js"></script>
  <script src="/user/js/bootstrap.min.js"></script>
  <script src="/user/js/jquery.easing.1.3.js"></script>
  <script src="/user/js/jquery.waypoints.min.js"></script>
  <script src="/user/js/jquery.stellar.min.js"></script>
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/jquery.magnific-popup.min.js"></script>
  <script src="/user/js/aos.js"></script>
  <script src="/user/js/jquery.animateNumber.min.js"></script>
  <script src="/user/js/bootstrap-datepicker.js"></script>
  <script src="/user/js/scrollax.min.js"></script>
  <script src="/user/js/google-map.js"></script>
  <script src="/user/js/main.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>





  <script>
    function displayAddAddressModal() {
        $('#addAddressModal').modal('show'); 
    }
    document.getElementById('addAddressBtn').addEventListener('click', function() {
        displayAddAddressModal();
    });
</script>
<div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog" aria-labelledby="addAddressModalLabel" aria-hidden="true">
</div>
<button id="addAddressBtn">Sumbit</button>



<script>
    function selectAddress(addressId) {
        console.log('Address selected:', addressId);

        document.querySelectorAll('[id^="selectedMessage_"]').forEach(function (element) {
            element.style.display = 'none';
        });

        const selectedMessage = document.getElementById('selectedMessage_' + addressId);
        if (selectedMessage) {
            selectedMessage.style.display = 'block';
        }
        document.getElementById('selectedAddressId').value = addressId;
    }
</script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




<script>
  document.getElementById('placeOrderBtn').addEventListener('click', async function (event) {
    event.preventDefault();

    const selectedAddress = document.querySelector('input[name="selectedAddress"]:checked');
    if (!selectedAddress) {
      swal("Error", "Please select an address", "error");
      return;
    }
    const addressValue = selectedAddress.value;
    const selectedPaymentMethod = document.querySelector('input[name="optradio"]:checked');
    if (!selectedPaymentMethod) {
      swal("Error", "Please select a payment method", "error");
      return;
    }
    const paymentMethod = selectedPaymentMethod.value;
    try {
      const response = await fetch('/orderPlaced', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          address: addressValue,
          paymentMethod: paymentMethod,
        }),
      });
      const data = await response.json();

      if (data.success) { 
        const orderId = data.orderId;

        swal({
          title: "Success",
          text: "Order placed successfully!",
          icon: "success",
          closeOnClickOutside: false,
        }).then(() => {
          window.location.href = `/orderConfirmation/${orderId}`;
        });
      } else {
        swal("Error", "Failed to place the order. Please try again.", "error");
      }
    } catch (error) {
      console.error('Error placing order:', error);
      swal("Error", "Internal server error. Please try again later.", "error");
    }
  });
</script>


</body>
</html>