<%- include('../user/layout/header') %>
    <%- include('../user/layout/nav') %>


        <!DOCTYPE html>
        <html lang="en">

        <head>
            <meta charset="utf-8" />
            <link rel="apple-touch-icon" sizes="76x76" href="/user/img/apple-icon.png">
            <link rel="icon" type="image/png" href="/user/img/favicon.ico">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
            <title>Razo.com</title>
            <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
                name='viewport' />
            <link href="/user/https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
            <link rel="stylesheet"
                href="/user/https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
            <link href="/user/css/bootstrap.min.css" rel="stylesheet" />
            <link href="/user/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
            <link href="/user/css/demo.css" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
        </head>

        <body>
            <style>
                .bg-dark {
                    background-color: #dbcc8f !important;
                    margin-top: -21px;
                }
            </style>

            <div class="wrapper">
                <div class="sidebar" data-image="../user/img/sidebar-5.jpg">


                    <div class="sidebar-wrapper" style="background-color: #f8f8f8;">
                        <div class="logo">
                            <a href="http://www.creative-tim.com" class="simple-text">
                                RAZO.com
                            </a>
                        </div>
                        <ul class="nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/profile">
                                    <i class="nc-icon nc-circle-09"></i>
                                    <p><B> PROFILE</B></p>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/profile/orders">
                                    <i class="nc-icon nc-circle-09"></i>
                                    <p><b>ORDERS</b></p>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/profile/address">
                                    <i class="nc-icon nc-circle-09"></i>
                                    <p><B>ADDRESS</B></p>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/profile/wallet">
                                    <i class="nc-icon nc-circle-09"></i>
                                    <p><B>WALLET</B></p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main-panel">
                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                        <div class="container-fluid">
                            <a style="color: #00ff08;" href="/"><b>HOME</b></a>
                            <a style="margin-left: 10px;color: rgb(36, 241, 0);" href="/shop"><b>SHOP</b></a>
                            <button href="" class="navbar-toggler navbar-toggler-right" type="button"
                                data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-bar burger-lines"></span>
                                <span class="navbar-toggler-bar burger-lines"></span>
                                <span class="navbar-toggler-bar burger-lines"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                                <ul class="nav navbar-nav mr-auto">
                                    <li class="nav-item">
                                        </a>
                                    </li>
                                </ul>
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">
                                            <span style="color: #dc3545;" class="no-icon"><B>LOGOUT</B></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </body>

        </html>

        <div class="card fade-in">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title"><b>USER PROFILE</b></h4>
                                </div>
                                <div class="card-body">
                                    <form method="get" action="/editProfile" id="updateProfileForm">
                                        <div class="row">
                                            <div class="col-md-4 px-1">
                                                <div class="form-group">
                                                    <label>Username</label>
                                                    <input type="text" name="username" class="form-control"
                                                        value="<%= username %>" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 px-1">
                                                <div class="form-group">
                                                    <label>Email address</label>
                                                    <input type="text" name="email" class="form-control"
                                                        value="<%=email%>" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 px-1">
                                                <div class="form-group">
                                                    <label>Phone Number</label>
                                                    <input type="text" name="phone" class="form-control"
                                                        value="<%=phone%>" required>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="btn btn" id="changePasswordBtn"
                                            style="color: #39e152; border-color: #15c51e;" href="#">Change Password</a>

                                </div>
                                <span id="errorMessage" style="color: red;text-align: center;" hidden>Please fill in
                                    all required fields.</span>
                                <button><a href="/editProfile"></a>EDIT PROFILE</button>
                                <div class="clearfix"></div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav>
                    <p class="copyright text-center">

                    </p>
                </nav>
            </div>
        </footer>
        </div>
        </div>



        <div id="changePasswordModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2><b>CHANGE PASSWORD</b></h2>
                <form id="changePasswordForm" method="post" action="/changePassword">
                    <label for="currentPassword" style="width: 100%;">Current Password:</label>
                    <input type="password" id="currentPassword" name="currentPassword" style="width: 100%;"
                        required><br>

                    <label for="newPassword" style="width: 100%;">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" style="width: 100%;" required><br>

                    <label for="confirmPassword" style="width: 100%;">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" style="width: 100%;"
                        required><br>

                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>


        <style>
            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .modal-content {
                background-color: #dbcc8f;
                margin: 15% auto;
                padding: 27px;
                border: 1px solid #dbcc8f;
                width: 31%;
            }

            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        </style>


        </body>

        <script>

            var modal = document.getElementById("changePasswordModal");
            var btn = document.getElementById("changePasswordBtn");
            var span = document.getElementsByClassName("close")[0];

            btn.onclick = function () {
                modal.style.display = "block";
            }

            span.onclick = function () {
                modal.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        </script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script src="/user/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
        <script src="/user/js/core/popper.min.js" type="text/javascript"></script>
        <script src="/user/js/core/bootstrap.min.js" type="text/javascript"></script>

        <script src="/user/js/plugins/bootstrap-switch.js"></script>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

        <script src="/user/js/plugins/chartist.min.js"></script>

        <script src="/user/js/plugins/bootstrap-notify.js"></script>
        <script src="/user/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>

        <script src="/user/js/demo.js"></script>



        </html>
        <%- include('../user/layout/footer') %>