<!DOCTYPE html>
<html lang="en">

<head>
	<title>SHOEzzo</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="/user/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="/user/css/animate.css">

	<link rel="stylesheet" href="/user/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/user/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="/user/css/magnific-popup.css">

	<link rel="stylesheet" href="/user/css/aos.css">

	<link rel="stylesheet" href="/user/css/ionicons.min.css">

	<link rel="stylesheet" href="/user/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="/user/css/jquery.timepicker.css">


	<link rel="stylesheet" href="/user/css/flaticon.css">
	<link rel="stylesheet" href="/user/css/icomoon.css">
	<link rel="stylesheet" href="/user/css/style.css">
	<style>
		.sidebar-box {
			margin-left: -15px;
			margin-bottom: 22px;
			padding: 25px;
			font-size: 13px;
			width: 112%;
			background: #fff;
		}

		.block-27 ul {
			padding: 0;
			margin: 0;
			margin-left: -200px;
		}
	</style>


	<!-- sort -->
	<style>
		#sortOptions {
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			padding: 8px 12px;
			border: 1px solid #ccc;
			border-radius: 4px;
			font-size: 14px;
			background-color: #fff;
			width: 100%;
			max-width: 200px;
			box-sizing: border-box;
			margin-bottom: 10px;
		}

		#sortOptions::after {
			content: '\25BC';
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			pointer-events: none;
		}

		#sortOptions:hover {
			border-color: #999;
		}
	</style>

</head>

<body class="goto-here">
	<div class="py-1 bg-black">
		<div class="container">
			<div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
				<div class="col-lg-12 d-block">
					<div class="row d-flex">
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-phone2"></span></div>
							<span class="text">+ 1235 2355 98</span>
						</div>
						<div class="col-md pr-4 d-flex topper align-items-center">
							<div class="icon mr-2 d-flex justify-content-center align-items-center"><span
									class="icon-paper-plane"></span></div>
							<span class="text">youremail@email.com</span>
						</div>
						<div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
							<span class="text">3-5 Business days delivery &amp; Free Returns</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/">SHOEzzo</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
					<li class="nav-item active"><a href="/shop" class="nav-link">SHOP</a></li>




					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">ACCOUNT</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<% if (currentUser) { %>

								<a class="dropdown-item" href="/profile">User Profile</a>
								<a class="dropdown-item" href="/checkout">Checkout</a>
								<a class="dropdown-item" href="/logout">Logout</a>

								<% } else { %>
									<a class="dropdown-item" href="/login">LOGIN</a>
									<a class="dropdown-item" href="/signup">REGISTER</a>
									<% } %>
						</div>
					<li class="nav-item cta cta-colored">
						<a href="/cart" class="nav-link">
							<span class="material-icons">
								shopping_cart
							</span>
						</a>
					</li>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_6.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="/">Home</a></span> <span>Shop</span></p>
					<h1 class="mb-0 bread">Shop</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="ftco-section bg-light">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-10 order-md-last">
					<div class="row">
						<div class="col-md-8 col-lg-10 order-md-last">
							<div class="row" id="productLIstedHello">
								<% if (product.length> 0) { %>
									<% product.forEach(productItem=> { %>
										<div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
											<div class="product d-flex flex-column">
												<a href="/single?id=<%= productItem._id %>" class="img-prod">
													<img class="img-fluid" src="/images/<%= productItem.image[0] %>"
														alt="Colorlib Template">
													<div class="overlay"></div>
												</a>
												<div class="text py-3 pb-4 px-3">
													<div class="d-flex">
														<div class="cat">
															<span>Lifestyle</span>
														</div>
														<div class="rating">
															<p class="text-right mb-0">
																<a href="#"><span
																		class="ion-ios-star-outline"></span></a>
																<a href="#"><span
																		class="ion-ios-star-outline"></span></a>
																<a href="#"><span
																		class="ion-ios-star-outline"></span></a>
																<a href="#"><span
																		class="ion-ios-star-outline"></span></a>
																<a href="#"><span
																		class="ion-ios-star-outline"></span></a>
															</p>
														</div>
													</div>
													<h3>
														<a href="#">
															<%= productItem.name %>
														</a>
													</h3>
													<div class="pricing">
														<p class="price"><span>₹<%= productItem.price %></span></p>
													</div>
													<p class="bottom-area d-flex px-3">
														<a href="#" class="add-to-cart text-center py-2 mr-1"
															data-product-id="<%= productItem.id %>">
															<span>Add to cart <i class="ion-ios-add ml-1"></i></span>
														</a>

													</p>
												</div>
											</div>
										</div>
										<% }) %>
											<% } %>
							</div>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col text-center">
							<div class="block-27">
								<ul>
									<li><a href="/shop?page=<%= currentPage - 1 %>">&lt;</a></li>
									<% for (let i=1; i <=totalPages; i++) { %>
										<li <%=i===currentPage ? 'class="active"' : '' %>>
											<a href="/shop?page=<%= i %>">
												<span>
													<%= i %>
												</span>
											</a>
										</li>
										<% } %>
											<li><a href="/shop?page=<%= currentPage + 1 %>">&gt;</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>


				<div class="col-md-4 col-lg-2">
					<div class="sidebar">
						<div class="sidebar-box-2">
							<!-- search -->
							<div class="sidebar-box">
								<form id="searchForm" method="get" action="/shop" class="search-form">
									<div class="form-group">
										<span class="icon ion-ios-search"></span>
										<input id="searchInput" name="search" type="search" class="form-control"
											placeholder="Search">

										<% if (currentPage && currentPage !=1) { %>
											<input type="text" name="page" value="<%= currentPage %>" hidden>
											<% } %>

												<% if(filters.priceFrom) { %>
													<input type="number" name="priceFrom"
														value="<%= filters.priceFrom %>" hidden>
													<% } %>

														<% if(filters.priceTo) { %>
															<input type="number" name="priceTo"
																value="<%= filters.priceTo %>" hidden>
															<% } %>
									</div>
								</form>
							</div>


							<h2 class="heading">Categories</h2>
							<div class="fancy-collapse-panel">
								<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="headingOne">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
													aria-expanded="true" aria-controls="collapseOne">
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
											aria-labelledby="headingOne">
											<div class="category">
												<ul>
													<% categories.forEach(category=> { %>
														<li>
															<a href="/shop?category=<%= category %>">
																<%= category %>
															</a>
														</li>
														<% }) %>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- sort -->
					<select id="sortOptions" onchange="applySort()">
						<option value="">Sort By</option>
						<option value="price_asc" <%=(sort==="price_asc" ) ? 'selected' : '' %>>Price: Low to High
						</option>
						<option value="price_desc" <%=(sort==="price_desc" ) ? 'selected' : '' %>>Price: High to Low
						</option>
					</select>


					<form method="get" class="colorlib-form-2" id="filter" action="/shop">
						<% if (filters.search) { %>
							<input type="text" name="search" value="<%= filters.search %>" hidden>
							<% } %>
								<% if (currentPage && currentPage !=1) { %>
									<input type="number" name="page" value="<%= currentPage %>" hidden>
									<% } %>
										<input type="hidden" name="sort" value="<%= sort %>">
										<div class="row">
											<div class="col-md-12">
												<div class="form-group">
													<label for="customPriceFrom">Price from:</label>
													<div class="form-field">
														<input type="text" name="customPriceFrom" id="customPriceFrom"
															class="form-control" value="<%= filters.customPriceFrom %>">
													</div>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label for="customPriceTo">Price to:</label>
													<div class="form-field">
														<input type="text" name="customPriceTo" id="customPriceTo"
															class="form-control" value="<%= filters.customPriceTo %>">
													</div>
												</div>
											</div>
										</div>
										<div class="d-flex justify-content-between" style="gap: 5px;">
											<button type="submit" id="" class="btn btn-primary">Apply Filter</button>
											<button type="button" id="" class="btn btn-primary"
												onclick="location.href = '/shop'">Clear Filter</button>
										</div>
					</form>
				</div>
			</div>
		</div>
	</section>




	<section class="ftco-gallery">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 heading-section text-center mb-4 ftco-animate">
					<h2 class="mb-4">Follow Us On Instagram</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
						live the blind texts. Separated they live in</p>
				</div>
			</div>
		</div>
		<div class="container-fluid px-0">
			<div class="row no-gutters">
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/user/images/gallery-1.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/user/images/gallery-1.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/user/images/gallery-2.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/user/images/gallery-2.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="images/gallery-3.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/user/images/gallery-3.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/user/images/gallery-4.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/user/images/gallery-4.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/user/images/gallery-5.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/user/images/gallery-5.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
				<div class="col-md-4 col-lg-2 ftco-animate">
					<a href="/user/images/gallery-6.jpg" class="gallery image-popup img d-flex align-items-center"
						style="background-image: url(/user/images/gallery-6.jpg);">
						<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<%- include('../user/layout/footer') %>

		<!-- loader -->
		<div id="ftco-loader" class="show fullscreen">
			<svg class="circular" width="48px" height="48px">
				<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
				<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
					stroke="#F96D00" />
			</svg>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

		<script src="/user/js/jquery.min.js"></script>
		<script src="/user/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="/user/js/popper.min.js"></script>
		<script src="/user/js/bootstrap.min.js"></script>
		<script src="/user/js/jquery.easing.1.3.js"></script>
		<script src="/user/js/jquery.waypoints.min.js"></script>
		<script src="/user/js/jquery.stellar.min.js"></script>
		<script src="/user/js/owl.carousel.min.js"></script>
		<script src="/user/js/jquery.magnific-popup.min.js"></script>
		<script src="/user/js/aos.js"></script>
		<script src="/user/js/jquery.animateNumber.min.js"></script>
		<script src="/user/js/bootstrap-datepicker.js"></script>
		<script src="/user/js/scrollax.min.js"></script>
		<script
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
		<script src="/user/js/google-map.js"></script>
		<script src="/user/js/main.js"></script>


		<script src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-Uv9jf8HLbQqvwqKA18GyQ8creozGyZA4QcvXkvhGmA=" crossorigin="anonymous"></script>

		<script>
			document.addEventListener('DOMContentLoaded', function () {
				document.querySelectorAll('.add-to-cart').forEach(button => {
					button.addEventListener('click', async (event) => {
						event.preventDefault();
						const productId = button.getAttribute('data-product-id');
						const quantity = 1;

						try {
							const response = await fetch('/addToCart', {
								method: 'POST',
								headers: {
									'Content-Type': 'application/json',
								},
								body: JSON.stringify({ productId, quantity }),
							});
							if (response.ok) {
								Swal.fire({
									title: 'Success!',
									text: 'Product added to cart successfully',
									icon: 'success',
									showCancelButton: true,
									confirmButtonText: 'Go to Cart',
									cancelButtonText: 'Continue Shopping'
								}).then((result) => {
									if (result.isConfirmed) {
										window.location.href = '/cart';
									}
								});
							} else {
								console.error('Failed to add to cart:', response.status);
								Swal.fire({
									icon: 'error',
									title: 'Oops...',
									text: 'Product already exist in cart!.'
								});
							}
						} catch (error) {
							console.error('Error adding to cart:', error);
							Swal.fire({
								icon: 'error',
								title: 'Oops...',
								text: 'An error occurred while adding the product to cart. Please try again later.'
							});
						}
					});
				});
			});
		</script>


		<script>
			var input = document.getElementById("searchInput");
			input.addEventListener("keyup", function (event) {
				if (event.key === "Enter") {
					event.preventDefault();
					document.getElementById("searchForm").submit();
				}
			});
		</script>

		<!-- sort -->
		<script>
			function applySort() {
				const selectedSortOption = document.getElementById('sortOptions').value;
				const currentUrl = new URL(window.location.href);
				currentUrl.searchParams.set('sort', selectedSortOption);
				window.location.href = currentUrl;
			}
		</script>


</body>

</html>